@media all and (max-width:1189px) and (min-width:770px){

    #wrap{
        width: 100%;
        background-color: white;
    }
    
    header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        font-size: 13px;
        overflow: hidden;
        z-index: 90;
        background-color: black;
    }
    
    nav{
        width: 87.5%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    nav>#main_menu{
        display: none;
    }

    nav>#iogin_wrap{
        display: none;
    }
    
    #logo{
        width: 150px;
        height: 80px;
        display: none;
    }
    
    #logo>img{
        width: 90px;
        height: 30px;
        margin-top: 25px;
    }
    
    
    #main_menu{
        width: 800px;
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: space-between;
    }
    
     .top_menu{
        margin: 0 20px;
    } 
    
    .top_menu>a{
        color: white;
    }
    
    .sub_menu{
        width: 100%;
        position: fixed;
        top: 80px;
        left: 0;
        display: flex;
        justify-content: flex-start;
        height: 0;
        overflow: hidden;
    }

    .top_menu:hover .sub_menu{
        height: 300px;
        transition-duration: 1s;
        
    }
    .top_menu>a:hover{
    background-color: white;
    transition-duration: 0.5s;
    
    }
    
    .sub_menu>ul{
        width : 10%;
        float: left;
        margin-left: 100px;
    }

    #iogin_wrap{
        width: 5%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
    
    #iogin_wrap>img{
        width: 10%;
        height: auto;
    }
    
    #iogin_wrap>:nth-child(2){
        margin-left: 20px;
    }

    .tab{
        width: 100%;
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: space-between;
    }

    .tab_left{
        width: 20%;
    }

    .tab_left>a>img{
        width: 25px;
        height: 25px;
        position: relative;
        top: 0;
        margin-bottom: -10px;
    }

    .tab_center{
        width: 20%;
        margin-left: 150px;
    }

    .tab_center>a>img{
        width: 90px;
        height: 35px;
        margin-bottom: -15px;
    }

    .mobile_right{
        width: 95px;
        margin-left: 150px;
        display: flex;
        justify-content: space-between;
    }
    .tab_right_in1{
        width : 40px;
        height: 40px;
    }

    .mobile_right>.tab_right_in1>a>img{
        width: 80%;
        height: auto;
        margin-bottom: -16px;
    }
    #m_sec3{
        display: none;
    }

    #m_menu{
        width: 100%;
        height: 950px;
background-color: white;
        position: fixed;
        left: 100%;
        top: 80px;
    }

    .home_menu_sec1{
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 20px;
    }

    .home_sec1_box{
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 5px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #a5b8bd;
    }


    .home_sec1_left{
        font-size:15px;
 color: #555555;
    }

    .home_sec1_right{
        margin-right: 30px;
        font-size: 30px;
        color: white;
    }

    .home_sec1_box>a>img{
        width: 20px;
        height: 30px;
        margin-right: 10px;
        margin-top: 5px;
    }

    .home_menu_sec2{
        width: 100%;
        height: 150px;
        overflow: hidden;
        background-color: #fae100;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
    }

    .home_sec2_box1{
        width: 30%;
        height: 180px;
        margin-right: 10px;
    }

    .home_sec2_left{
        float: right;
        background-color: #fae100;
    }

    .home_sec2_box2{
        width: 69%;
        height: 180px;
        background-color: #fae100;
    }
    .home_sec2_box2>h1{
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .home_sec2_box2>h2{
        color: #3c1d1e;
        font-weight: 400;
        margin-bottom: 15px;
        font-size: 15px;
    }

    .home_sec2_right{
        width: 60%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    .home_sec2_right>button{
        width: 40%;
        height: 35px;
        border-radius: 20px;
        border: 0;
        cursor: pointer;
        background-color: #3c1d1e;
        color: white;
        line-height: 35px;
    }

    .home_menu_sec3{
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 20px;
    }

    .home_sec3_box{
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 5px;
        border-bottom: 1px solid #a5b8bd;
    }

    .home_sec3_box_small{
        width: 40%;
        height: 40px;
        display: flex;
    }

    .home_sec3_box_small>h1{
        font-size: 15px;
        font-weight: 400;
        color: #555555;
        margin-left: 10px;
        cursor: pointer;
    }

    .home_sec3_box_small>h1:hover{
        color: #0091bd;
    }

    .home_sec3_box_small>img{
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }

    
    .sec1{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }
    .sec1>iframe{
        width: 250%;
        height: 100%;
        position: absolute;
     top: 0;
        left: 50%;
        margin-left: -125%;
        object-fit: cover;
    }
    
    .sec1_box1{
        position: absolute;
      bottom: 80px;
        width: 100%;
    }
    
    .sec1_box1>h1{
        font-size: 50px;
        color: beige;
        margin-left: 80px;
        font-weight: 300;
    }
    
    .sec1_box1>h2{
        color: beige;
        font-weight:100;
        font-size: 17px;
        margin-left: 80px;
        margin-top: 10px;
    }
    
    .btn{
        margin-top: 30px;
    }
    
    .btn>button{
        width: 150px;
        height: 40px;
        margin-left:80px;
        border: 4px solid white;
        border-radius: 25px;
        cursor:pointer;
        transition: 0.5s ease-in-out;
        font-weight: 800;
    }
    
    button:hover{
        background-color: #054f64;
        color: white;
    }
    
    .sec2{
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }
    
    
    
    .sec2>img{
        width: 100%;
        height: 100%;
    }
    .sec2_left{
    width : 60%;
    overflow: hidden;
    }
    .sec2box{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;  
    }
    
    .sec2box>h1{
        font-size: 40px;
        color: 3a3a3a;
        margin-left: 50px;
        font-weight: 400;
    }
    
    .sec2box>h2{
        color: 3a3a3a;
        font-weight:400;
        font-size: 15px;
        margin-left: 50px;
        margin-top: 10px;
        word-spacing: 1px;
        line-height: 24px;
    }
    
    .sec2box>.btn>button{
        border: 1px solid #7f7d76;
        margin-left: 45px;
    }
     
    #sec3{
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }
 
    
    .sec3_leftbox{
        font-size: 30px;
        margin-top: 100px;
    }


 .swiper-wrapper{
        width: 100%;
        height: 50%;
        margin-top: 20px;
    }

    .swiper-button-prev,
    .swiper-button-next {
top: 60%;
    }

    .swiper-slide>img{
       width : 100%;
       height: 100%;
    }

    .h1_{
        display: flex;
        justify-content: space-between;
    }
    
    .h1_>h1{
        font-size: 13px;
        font-weight: 500;
        padding-left: 10px;
    }
    
    .h1_>span{
        width: 50%;
        height: 20px;
        font-size: 11px;
        margin-top: 25px;
        background-color: #7f7d76;
        border-radius: 12px;
        color: white;
        text-align: center;
        line-height: 20px;
        font-weight: 100;
    }
    
    .h1_>span:hover{
        cursor: pointer;
    }
    
    .sec4{
        width : 100%;
        overflow: hidden;
        background-color: darkgray;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    
    .sec4_img{
        width : 55%;
        overflow: hidden;
    }
    
    .sec4_img>img{
        width: 100%;
        height: auto;
    }
    
    .sec4_right{
        width : 45%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
    }
    
    .sec4_smallbox{
        width: 570px;
        height: 200px;
    } 
    
    .sec4_box{
        width: 500px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .sec4_box>h1{
        font-size: 12px;
        font-weight: 400;
    }
    
    .sec4_box>h2{
        font-weight: 700;
    }
    
    .sec4_box>h3{
        font-size: 15px;
        font-weight: 400;
    }
    
    .btn2>button{
        border: 4px solid white;
        border-radius: 25px;
        cursor:pointer;
        transition: 0.5s ease-in-out;
        width: 150px;
        height: 40px;
        font-weight: 700;
    }
    
    .btn2> :nth-child(2){
        margin-left: 30px;
    }
    
    .sec5_h1{
        width: 95%;
        overflow: hidden;
        margin: 0 auto;
        padding-top: 100px;
        
    }
    
    .sec5{
        width: 95%;
        overflow: hidden;
        margin: 0 auto;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .sec5box{
        width: 49%;
        overflow: hidden;
        position: relative;
    }
    
    .sec5box>img{
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }
    
    .sec5box>.sec_inbox{
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 40px;
        left: 20px;
    }
    
    .sec_inbox>h1{
        font-size: 30px;
        color: #044152;
    }
    
    .sec_inbox>h2{
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 20px;
        color: #044152;
    }

    .sec5box>button{
        width: 140px;
        height: 34px;
        border: black;
        border-radius: 25px;
        cursor: pointer;
        position: absolute;
        margin-bottom: 20px;
        margin-right: 10px;
        bottom: 4%;
        right: 0;
    }
    .sec6{
        width: 100%;
        overflow: hidden;
        margin-top: 50px;
        background-color: #4f4946;
        padding-top: 30px;
    }
    
    .sec6_box1{
        width: 95%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    .sec6_leftbox{
        width: 20%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    
    .sec6_leftbox>h1{
        color: white;
        font-size: 30px;
    }
    
    #icon-croco{
        width: 50px;
        overflow: hidden;
        color: white;
    }
    
    .sec6_rightbox{
        width: 10%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    
    .sec6_rightbox>h1{
        color: white;
    }
    
    .sec6_rightbox>button{
        cursor: pointer;
    }
    
    .sec6_box2{
        width: 95%;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    
    .sec_in_left{
        width: 60%;
        overflow: hidden;
    }
    
    .sec_in_left>img{
        width: 100%;
        height: auto;
    }
    
    .sec_in_right{
        width: 40%;
        overflow: hidden;
        margin-left: 3%;
    }
    
    .sec_in_right>h1{
        font-size: 12px;
        color: white;
        font-weight: 300;
    }
    
    .sec_in_right>h2{
        color: white;
    }
    
    .sec_in_right>h3{
        font-size: 14px;
        color: white;
        font-weight: 300;
    }
    
    .sec_in_right>button{
        width: 150px;
        height: 35px;
        border: black;
        border-radius: 25px;
        cursor: pointer;
        margin-top: 20px;
        font-size: 15px;
        background-color: #7f7d76;
        color: white;
    }
    
    .footer1{
        width: 50%;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
    .footer_box1{
        width : 50%;
        height: 100px;
        margin-top: 30px;
        text-align: center;
    }
    .footer_inbox{
    width : 100%;
    overflow: hidden;
    }
    
    .footer_inbox>h1{
        font-size: 20px;
        font-weight: 300;
        text-align: center;
    }
    
    
    .footer_inbox>img{
         width: 45px;
        height: 45px;
        margin: 0 auto;
    }
    
    .footer2_box1{
        width: 100%;
        overflow: hidden;
        background-color: #d0c2c0;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        padding: 100px;
        box-sizing: border-box;
    }
    
    .footer2_inbox{
        width: 20%;
        overflow: hidden;
    }
    
    .footer2_inbox_inbox{
        display: flex;
    }
    
    .footer2_inbox_inbox>svg{
        width: 30px;
        height: 30px;
    }
    
    .footer2_inbox_inbox>h1{
        font-size: 14px;
        margin-left: 10px;
    }
    
    .kakao{
        width: 90%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    
    .kakao>svg{
        width: 30px;
        height: 30px;
    }
    
    .kakao>h1{
        font-size: 12px;
        line-height: 30px;
    }
    
    .footer2_inbox>h2{
        margin-top: 10px;
        font-size: 12px;
        font-weight: 500;
    }
    
    .btn3>button{
        width: 120px;
        height: 37px;
        border: black;
        border: 1px solid rgb(114, 114, 114);
        border-radius: 25px;
        cursor: pointer;
        margin-top: 20px;
        font-weight: 900;
    }
    
    .btn3>h1{
        font-size: 8px;
        margin-top: 10px;
        font-weight: 400;
    }
    
    .btn4>button{
        width: 80%;
        height: 40px;
        border: black;
        border-radius: 25px;
        cursor: pointer;
        margin-top: 20px;
        font-weight: 900;
        border: 1px solid rgb(114, 114, 114);
    }
    
    .footer2_inbox>h1{
        font-size: 14px;
        font-weight: 400;
    }
    
    .footer3{
        width: 95%;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .footer3_left{
        width: 100%;
    }
    
    .footer3_left>h1{
        font-size: 15px;
        font-weight: 300;
    }
    
    .footer3_right{
        width: 100%;
    }
    
    .footer3_right>h1{
        font-size: 15px;
        font-weight: 300;
    }
    
    .footer4{
        width: 95%;
        height: 50px;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    line-height: 50px;
    border-bottom: 1px solid #b7b7b7;
    }
    
    .footer4>h1{
        font-size: 15px;
        font-weight: 300;
    }
    
    
    .footer4>img{
        width : 250px;
        height: auto;
    }

    .footer_menu{
        width : 100%;
        overflow: hidden;
        margin-top: 30px;
    }
    .footer_menu>li{
        height: 50px;
      
    }
    
}
/* media query */